body {
    padding-top: 10px;
    padding-left: 30px;
}

h1 {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 30px;
}

h2 {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 16px;
    font-weight: 800;
}

p,
li,
a {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 15px;
}